#contact-details {
}

#contact-details .content {
  border: 3px solid #ffffff36;
  background-image: linear-gradient(#200c3b26, #1c0b32);
  padding: 5rem 8%;
}

#contact-details .heading {
  font-size: 3.2rem;
  font-weight: 700;
}

#contact-details .desc {
  margin-bottom: 6rem;
}

#contact-details .contact-list {
  display: grid;
  gap: 2.4rem;
}

#contact-details .contact-item {
}

#contact-details .icon-wrap {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #ffffff1c;
  box-shadow: 0 0 8px #ffffff0f;
}

#contact-details .contact-info {
  font-size: 2rem;
}

.contact-form {
}

.contact-form :is(input, textarea) {
  width: 100%;
  background-color: transparent;
  border: 3px solid #ffffff3d;
  padding: 2rem;
  font-size: 1.7rem;
  border-radius: var(--rounded-48);
  color: #fff;
}

#contact-details .content .camera-pic {
  opacity: 9%;
  width: 40rem;
  height: 60rem;
  top: 26%;
  left: 16%;
  transform: scaleX(2.3);
  mix-blend-mode: screen;
  z-index: -1;
}
